<h1>About the artist</h1>

<h2>"I don't even know my own self, so who can know me?"</h2>

<section>
   <div>
      <img src="./img/BG_ABOUT_3.jpeg" alt="Photos of Min Yoongi">
   </div>

   <div>
      <h3>Born</h3>
        <p>Min Yoon-gi</p>
        <p>March 9, 1993 in Daegu, South Korea</p>

      <h3>Education</h3>	
         <p>Apgujeong High School and Global Cyber University</p>

      <h3>Occupations</h3>
         <p>Rapper, songwriter, record producer</p>


      <h3>Years active</h3>
         <p>2010 - present</p>

      <h3>Awards</h3>
         <p>Hwagwan Order of Cultural Merit (2018)</p>

      <h3>Musical career</h3>
         <span>Also known as :</span>
         <p>Suga (Member of BTS)</p>
         <p>Agust D</p>

      <h3>Genres</h3> 
         <p>Hip hop, K-pop, RnB</p>

      <h3>Instruments</h3>	
        <p>Vocals - Guitar, Piano</p>

      <h3>Labels</h3>
         <p>Hybe Corporation</p>
         <p><i>formerly known as Big Hit Entertainment</i></p>

      <h3>Korean name </h3> 
         <p><span>Hangul</span> 민윤기</p>
         <p><span>Revised Romanization</span> Min Yun-gi</p>
         <p><span>McCune-Reischauer</span> Min Yunki</p>

      <h3>Random facts</h3>
         <p>Valentino global brand ambassador</p>
         <p>Diplomatic passport</p>

      <h3></h3>
         <p>Nicknamed "The Hand of Midas" by Korean media for making commercially successful songs.</p>

   </div>
</section>