<h1>Works done</h1>

<div class="facts">
  <h2>Over 100 registered songs are credited to him by the Korea Music Copyright Association.</h2>

  <h3>2021 & 2022 - "Over The Horizon prod. SUGA" - Samsung - Ringtone.</h3>
</div>
  <hr>
<section>

  <div class="mixtapes">
    <h2>Mixtapes</h2>
      <h3>Agust D</h3>
        <img src="./img/Agust_D_COVER.jpeg" alt="Agust D mixtape cover">
          <p><span>Released</span> : August 15, 2016</p>
          <p><span>Recorded</span> : 2011–2016</p>
          <p><span>Genre</span> :	Hip hop</p>
          <p><span>Length</span> : 28:13</p>
          <p><span>Language</span> : Korean</p>
          <p><span>Label</span> :	Big Hit</p>
          <p><span>Producer</span> : Agust D</p>

      <h3>D-2</h3>
        <img src="./img/AGUST_D_D-2.jpeg" alt="D-2 mixtape cover">
          <p><span>Released</span> : May 22, 2020</p>
          <p><span>Studio</span> : Big Hit, Colour Vision, Satellite</p>
          <p><span>Genre</span> :	Hip hop</p>
          <p><span>Length</span> : 32:22</p>
          <p><span>Language</span> : Korean</p>
          <p><span>Label</span> : Big Hit</p>
          <p><span>Producer</span> : Agust D</p>
  </div>

  <div class="written">
    <h2>Written</h2>
      <h3>2013 to 2022. [<a href="https://en.wikipedia.org/wiki/List_of_songs_written_by_Suga" target="_blank" >#</a>]</h3>
        <p><i>He wrote over 135 songs for his band BTS,</i></p>
        <p><i>and about 20 songs for his solo mixtapes.</i></p>
      
      <h3>2014</h3>
        <p>"BTS Cypher Pt. 3: Killer" - BTS feat. Supreme Boi</p>
      <h3>2019</h3>
        <p> "All Night" - BTS feat. Juice Wrld</p>
          <p><i>Original Soundtrack for the mobile game BTS World</i></p>
        <p>"Boy with Luv" - BTS feat. Halsey</p>
        <p>"Song Request" - Lee So-ra</p>
        <p>"Suga's Interlude" -	Halsey with Suga of BTS</p>
        <p>"We Don't Talk Together" - Heize feat. Giriboy</p>
      <h3>2020</h3>
        <p>"On"	- BTS feat. Sia</p>
        <p>"Blueberry Eyes"	- MAX</p>
        <p>"Eight" - IU prod. and feat. Suga of BTS</p>
        <p>"Savage Love (Laxed - Siren Beat) [BTS Remix]"	</p>
          <p>- Jawsh 685, Jason Derulo, BTS</p>
      <h3>2021</h3>  
        <p>"Girl of My Dreams" - Juice Wrld with Suga of BTS</p>
          <p><i>Recorded in 2019 before Juice Wrld passed away</i></p>
        <p>"My Universe" - Coldplay x BTS</p>
        <p>"My Universe" - (SUGA's Remix)	Coldplay x BTS</p>
        <p>"You" - ØMI prod. Suga of BTS</p>
      <h3>2022</h3>
        <p>"Our Island" - Hybe Corporation</p>
          <p><i>Original soundtrack for the mobile game</i></p>
          <p><i>BTS Island: In the Seom</i></p>
        <p>"Stay Alive"	Jungkook prod. Suga of BTS</p>
        <p>"That That" Psy prod. and feat. Suga of BTS</p>

        <img class="cover" src="./img/Psy_That_That.jpeg" alt="">

  </div>

  <div class="produced">
    <h2>Produced</h2>
      <h3>2013 to 2022. [<a href="https://en.wikipedia.org/wiki/List_of_songs_produced_by_Suga" target="_blank" >#</a>]</h3>
        <p><i>He produced abut 20 songs for his band BTS,</i></p>
        <p><i>and about 16 songs for his solo mixtapes.</i></p>

      <h3>2010</h3>
        <p>"518-062" - D-Town G</p>

      <h3>2011</h3>
        <p>"Who Am I?" - Reflow feat. Basick</p>	

      <h3>2017</h3>
        <p>"Wine" (오늘 취하면) - Suran feat. Changmo</p>

      <h3>2019</h3>
        <p>"We don't talk together" - Heize feat. Giriboy</p>
        <p>"Suga's Interlude" - Halsey feat. Suga</p>
        <p>"Eternal Sunshine" (새벽에) - Epik High</p>

      <h3>2020</h3>
        <p>"Eight" (에잇) - IU feat. and prod. Suga of BTS</p>

      <h3>2021</h3>
        <p>"Over the Horizon" - Samsung</p>
        <p>"You" - ØMI prod. Suga of BTS</p>
        <p>"My Universe" (SUGA's Remix) - Coldplay and BTS</p>

      <h3>2022</h3>
        <p>"Our Island" - Hybe Corporation</p>
          <p><i>Original soundtrack for the mobile game</i></p>
          <p><i>BTS Island: In the Seom</i></p>
        <p>"Over the Horizon 2022" - Samsung</p>
        <p>"Stay Alive" - Jungkook prod. Suga of BTS</p>
        <p>"Tony Montana" - Agust D feat. Jimin of BTS</p>
        <p>"That That" - Psy prod. and feat. Suga of BTS</p>	

        <img class="cover" src="./img/BTS_ISLAND_IN_THE_SEOM.jpeg" alt="BTS Island : In the seom - Our Island cover">

  </div>

</section>